* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --font-family: 'Plus Jakarta Sans', sans-serif;

    /* Colors */
    --blue: #0A327B;
    --red: #F65552;
    --very-dark-grey-blue: #1C202B;
    --dark-grey-blue: #5E6778;
    --grey-blue: #939CAD;
    --light-grey-blue: #E5EFFA;
    --very-light-grey-blue: #DDE7EE;
    --snow: #eef1f4;
    --white: #FFFFFF;
}

/* Typography */

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

body {
    font-weight: bold;
    font-family: var(--font-family);

}

/* Container */

.container {
    padding: 1.5em 1em;
    display: grid;
    gap: 1.5em;
}


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Number of notifications */
.number-of-notifications {
    border-radius: .5em;
    color: var(--white);
    background-color: var(--blue);
    margin-left: .5em;
    padding: .1em .75em;
}

.mark-all-as-read {
    color: var(--grey-blue);
}

/* Notifications Cards */

.notifications-container {
    display: grid;
    gap: .75em;
}


.card {
    border-radius: 1em;
    padding: 1em;
    display: flex;
    gap: 1em;
}

.card > img {
    width: 50px;
    height: 50px;
}

.details-container {
    display: grid;
    gap: 1em;
}

.group {
    font-weight: bold;
    color: var(--blue);
}

.message {
    padding: 1em;
    border: 2px solid var(--dark-grey-blue);
    border-radius: 1em;
    color: var(--dark-grey-blue);
}

.message:hover {
    background: var(--light-grey-blue);
}

.inline-elements > * {
    color: var(--grey-blue );
    margin-left: .5em;
    display: inline;
}


.inline-elements > h2 {
    color: var(--very-dark-grey-blue);
    margin-left: 0;
}

.occasion {
    color: var(--dark-grey-blue);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: var(--grey-blue);
}


.spot {
    padding: .1em;
    border-radius: 100%;
    background: var(--red);
    width: 10px;
    height: 10px;
    display: inline-block;
}

.hover:hover {
    cursor: pointer;
    color: var(--blue);
}

img:hover {
    cursor: pointer;
}


@media (min-width: 700px){
    body {
        background: var(--very-light-grey-blue);
        display: grid;
        margin: auto;
    }

    .container {
        border-radius: 1em;
        padding: 4em 4em;
        background: white;
        width: 50%;
        display: grid;
        margin: auto;
        margin-top: 4em;
    }
}